img {margin-top: 140px; margin-left: 655px;
}
a header {font-size: 12px; font-family: fantasy; text-align: right; color: black; margin-left: 1000px;
}
.lol {margin-left: 1320px; color: black;
}
.xd {color: black; margin-top: 20px;
}
.appli {margin-top: 1px; position: relative; float: right;
}
.champ {height: 32px; margin-left: 490px; width: 590px;
}
.bouton {margin-left: 600px; width: 155px; height: 32px;
}
.luck {width: 155px; height: 32px;
}
